body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
    background-blend-mode: normal, normal, screen, overlay, normal;
    background-repeat: no-repeat;

}

header {
    background-color: #f2f2f2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-form button[type="submit"] {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-form button[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.photo-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.photo-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.photo-card img:hover {
    transform: scale(1.05);
}


.info {
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    font-size: small;

}

.info-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    font-weight: 700;
    color: #444;
    text-align: center;
}

.info-item b {
    color: #999;
    margin-right: 5px;
}

.info-item span {
    font-weight: normal;
    display: block;
    margin-top: 5px;
    color: #777;
}


#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-image: url("./images/upper.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
}

@media (max-width: 767px) {
    #scroll-to-top {
        bottom: 10px;
        right: 10px;
    }
}

#scroll-to-top:hover {
    opacity: 0.7;
}


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #7983ff;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    z-index: 9999;
    display: none;
}

.loading .spinner {
    display: block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}